extends layout

block script
  link(rel='stylesheet', href='/stylesheets/houses.css')
  
block content
  .mainBlock
    .row
      .col-lg-7
        .scrollParent
          .scroll
            .houseBlock
              each house in houses
                .article(id= house._id)
                  button.houseBtn(value= house._id)
                    .house
                      h2= house.name
                      p= house.address
                    .members
                      img.bad(src='img/svg/bad.svg', alt='Bad')
                      -var capacity = 0;
                      -var freeBeds = 0
                      -each room in house.rooms
                        -capacity += room.beds.length
                        -each bed in room.beds
                          -if (bed.status)
                            - ++freeBeds
                      p #{freeBeds}/#{capacity}
                      img.bow(src='img/svg/join.svg', alt='join')
              
        button.addBtn
          p +
          
      .col-lg-5
        .scrollParent
          .scroll
            .right
              
              -if (houseID)
                each house in houses
                  -if (house._id == houseID)
                    .openHouse
                      .overview
                        .overviewImg
                          -if (house.image)
                            .houseImage(style="background: url(img/upload/house/#{house.image}); background-size: auto 100%; background-position: center")
                          -else 
                            img(src='img/upload/house.png', alt='House')
                        .overviewStatus
                          img.bad(src='img/svg/bad.svg', alt='Bad')
                          -var capacity = 0;
                          -var freeBeds = 0
                          -each room in house.rooms
                            -capacity += room.beds.length
                            -each bed in room.beds
                              -if (bed.status)
                                - ++freeBeds
                          p #{freeBeds}/#{capacity}
                      -if (house.name)
                        .overviewName
                          h2= house.name
                      -if (house.address)
                        .overviewName
                          p= house.address
                      -if (house.description)
                        .overviewText
                          p= house.description
                      .overviewButtons
                        .overviewControls
                          button.gistEdit(value= house._id, disabled)
                            img(src='img/png/edit.png', alt='Edit')
                            p Edit
                          button.gistDel(value= house._id, disabled)
                            img(src='img/png/del.png', alt='Del')
                            p Del
                        button.houseGistList(value= house._id) View guest list
                        form.place
                          fieldset
                            .houseControls
                              select.selectRoom(value="Room" placeholder="Room") Room
                                option.selectRoomFirst(disabled selected) Room
                                -each room in house.rooms
                                  -var count = 0
                                  -each bed in room.beds
                                    -if(!bed.status) ++count
                                  -if(count>0)
                                    option= room.num
                                  
                              select.selectBed
                                option.selectBedFirst(disabled selected) Bed
                                
                              input.selectPrice(placeholder='Price')
                            button.houseAddPerson(disabled, type= 'button', value= house._id) Place a Person
                        button.placeOpen(value= house._id) Place
                    
                    form.add(enctype="multipart/form-data")
                      fieldset
                        .addPhoto
                          .uploadPhoto
                            button.uploadPhoto
                              img(src='img/png/cloud.png', alt='Cloud')
                              p Upload photo
                            input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                        .addText.addTitle
                          input.housename(type="text", placeholder="Title", name='name')
                        .addText.addAddress
                          input(type="text", placeholder="Address", name='address')
                        .rooms
                        .addText.addRoomBtn
                          button(type="button").roomAdd Add Room
                        .addDiscription
                          textarea(placeholder="Notes", name='description')
                        .addButtons
                          button.addSave(type="button") Save
                          button.addCancel(type="reset") Cancel
                    
                          
                    form.edit
                      fieldset
                        .addPhoto
                          .uploadPhoto
                            -if (house.image)
                              button.uploadPhoto(style="background: url(img/upload/house/#{house.image}); background-size: auto 200px; background-position: center")
                                img(src='img/png/cloud.png', alt='Cloud')
                                p Upload photo
                            -else
                              button.uploadPhoto
                                img(src='img/png/cloud.png', alt='Cloud')
                                p Upload photo
                            input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif').updateInput
                        .addText.addTitle
                          -if (house.name)
                            input(type="text", placeholder="Title", name='name', value= house.name)
                          -else
                            input(type="text", placeholder="Title", name='name', value= '')
                        .addText.addAddress
                          -if(house.address)
                            input(type="text", placeholder="Address", name='address', value= house.address)
                          -else
                            input(type="text", placeholder="Address", name='address', value= '')
                        
                        .rooms
                        .addText.addRoomBtn
                          button(type="button").roomAdd Add Room
                        .addDiscription
                          -if(house.description)
                            textarea(placeholder="Notes", name='description', value= house.description)= house.description
                          -else
                            textarea(placeholder="Notes", name='description', value= house.description)
                        .addButtons
                          button.editSave(type="button", value= house._id) Save changes
                          button.editCancel(type="reset", value= house._id) Cancel
                          
                          
                

                    
                    
              -else
                form.add(enctype="multipart/form-data")
                  fieldset
                    .addPhoto
                      .uploadPhoto
                        button.uploadPhoto
                          img(src='img/png/cloud.png', alt='Cloud')
                          p Upload photo
                        input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                    .addText.addTitle
                      input.housename(type="text", placeholder="Title", name='name')
                    .addText.addAddress
                      input(type="text", placeholder="Address", name='address')
                    .rooms
                    .addText.addRoomBtn
                      button(type="button").roomAdd Add Room
                    .addDiscription
                      textarea(placeholder="Notes", name='description')
                    .addButtons
                      button.addSave(type="submit") Save
                      button.addCancel(type="reset") Cancel
                -if (houses[0])
                  .openHouse
                    .overview
                      .overviewImg
                        -if (houses[0].image)
                          .houseImage(style="background: url(img/upload/house/#{houses[0].image}); background-size: auto 100%; background-position: center")
                        -else 
                          img(src='img/upload/house.png', alt='House')
                      .overviewStatus
                        img.bad(src='img/svg/bad.svg', alt='Bad')
                        -var capacity = 0;
                        -var freeBeds = 0
                        -each room in houses[0].rooms
                          -capacity += room.beds.length
                          -each bed in room.beds
                            -if (bed.statut === false)
                              - ++freeBeds
                        p #{freeBeds}/#{capacity}
                    -if (houses[0].name)
                      .overviewName
                        h2= houses[0].name
                    -if (houses[0].address)
                      .overviewName
                        p= houses[0].address
                    -if (houses[0].description)
                      .overviewText
                        p= houses[0].description
                  
                    .overviewButtons
                      .overviewControls
                        button.gistEdit(value= houses[0]._id, disabled)
                          img(src='img/png/edit.png', alt='Edit')
                          p Edit
                        button.gistDel(value= houses[0]._id, disabled)
                          img(src='img/png/del.png', alt='Del')
                          p Del
                      button.houseGistList(value= houses[0]._id) View guest list
                      form.place
                        .houseControls
                          select.selectRoom Room
                            option(disabled selected) Room
                            -each room in houses[0].rooms
                              -var count = 0
                              -each bed in room.beds
                                -if(!bed.status) ++count
                              -if(count>0)
                                option= room.num

                          select.selectBed(class="")
                            option(disabled selected) Bed
                            
                          input.selectPrice(placeholder='Price')
                        button.houseAddPerson(disabled, value= houses[0]._id, type= 'button') Place a Person
                      button.placeOpen(value= houses[0]._id) Place
                        
                  form.edit(enctype="multipart/form-data")
                    fieldset
                      .addPhoto
                        .uploadPhoto
                          -if (houses[0].image)
                            button.uploadPhoto(style="background: url(img/upload/house/#{houses[0].image}); background-size: auto 200px; background-position: center")
                              img(src='img/png/cloud.png', alt='Cloud')
                              p Upload photo
                          -else
                            button.uploadPhoto
                              img(src='img/png/cloud.png', alt='Cloud')
                              p Upload photo
                          input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif').updateInput
                      .addText.addTitle
                        -if (houses[0].name)
                          input(type="text", placeholder="Title", name='name', value= houses[0].name)
                        -else
                          input(type="text", placeholder="Title", name='name')
                      .addText.addAddress
                        -if (houses[0].address)
                          input(type="text", placeholder="Address", name='address', value= houses[0].address)
                        -else
                          input(type="text", placeholder="Address", name='address')
                      .rooms
                      .addText.addRoomBtn
                        button(type="button").roomAdd Add Room
                      .addDiscription
                        -if (houses[0].description)
                          textarea(placeholder="Notes", name='description', value= houses[0].description)= houses[0].description
                        -else 
                          textarea(placeholder="Notes", name='description')
                        
                      .addButtons
                        button.editSave(type="submit", value= houses[0]._id) Save changes
                        button.editCancel(type="reset", value= houses[0]._id) Cancel
                        
                        
                


block footer
  script(src='js/house.js')
