.overview
  .overviewImg
  .overviewStatus
    .statusHeader
      h2= name + ' ' + lastName
      p PILOT
    .statusFoter
      h3.active= status

      p (Soul 7)
      img(src='png/Airplane Mode toggle.png', alt='Toggle')
.overviewBith.overviewName
  p= date
.overviewSex.overviewName
  p= sex
.overviewBith.overviewName
  p= address
.overviewSex.overviewName
  p= phone
.overviewText
  p= discription
.overviewButtons
  .overviewControls
    button.gistEdit(value= id)
      img(src='png/edit.png', alt='Edit')
      p Edit
    button.userDel(value= id)
      img(src='png/del.png', alt='Del')
      p Del
  button.gistPlace.gistBtn.place(value= id) Place
  button.gistPaymentsHistory.gistBtn.pay(value= id) Payments History
  button.gistShelterHistory.gistBtn.history(value= id) Shelter History
