extends layout

block script
  link(rel='stylesheet', href='/stylesheets/users.css')
  
block content
  .mainBlock
    .row
      .col-lg-7
        .scrollParent
          .scroll
            .houseBlock
              each gist in gists
                .article(id= gist._id)
                  button.placeUserBtn(value= gist._id)
                    .gist
                      h2= gist.name + ' ' + gist.lastname
                      p= gist.address
                    .gistStatus
                      .Activity
                        p= gist.program
                        p.active Active
                      img.moreDetails(src='img/svg/join.svg', alt='join')

        button.addBtn
          p +

      .col-lg-5
        .scrollParent
          .scroll
            .right
              -if (gists[0])
                .openGist
                  .overview
                    -if (gists[0].image)
                      .overviewImg(style="background: url(img/upload/gists/#{gists[0].image}); background-size: auto 156px; background-position: center; background-repeat: none")
                    -else 
                      .overviewImg(style="background: url(img/upload/gist.png); background-size: auto 156px; background-position: center")
                    .overviewStatus
                      .statusHeader
                        h2= gists[0].name + ' ' + gists[0].lastname
                        p= gists[0].program
                      .statusFoter
                        h3.active Active
                        p (Soul 7)
                        img(src='img/png/toggle.png', alt='Toggle')
                  .ocerviewContent
                    .overviewBith.overviewName
                      p= gists[0].dateOfBirth
                    .overviewSex.overviewName
                      p= gists[0].gender
                    .overviewBith.overviewName
                      p= gists[0].address
                    .overviewSex.overviewName
                      p= gists[0].phone
                    .overviewText
                      p= gists[0].discription
                    .overviewButtons
                      button.gistPlace.gistBtn.place.placeHouse(value= gists[0]._id) Place
                      button.gistShelterHistory.gistBtn.cancel(value= gists[0]._id) Cancel
  
block footer
  script(src='js/place-h.js')
